<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form action="{{ url_for('product.sell_product') }}" method="post">
      <table>
        <tr>
          <td>
            <label for="product-id-input">Product id:</label>
          </td>
          <td colspan="2">
            <input type="text" id="product-id-input" name="product_id" value="{{ product_id }}">
          </td>
        </tr>
        <tr>
          <td>
            <label for="product-quantity-sell-input">Items to sell:</label>
          </td>
          <td colspan="2">
            <input type="number" id="product-quantity-sell-input" name="product_quantity_sell" min="0">
          </td>
        </tr>
      </table>
      <input type="submit" value="Sell">
    </form>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <br>

    {% if products %}
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>quantity</th>
        <th>sold_quantity</th>
        <th>weight</th>
        <th>volume</th>
        <th>category</th>
        <th>purchase_price</th>
        <th>selling_price</th>
        <th>manufacturer</th>
        <th>unit_gain</th>
      </tr>
    {% endif %}
    {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.sold_quantity }}</td>
        <td>{{ product.weight }}</td>
        <td>{{ product.volume }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.purchase_price }}</td>
        <td>{{ product.selling_price }}</td>
        <td>{{ product.manufacturer }}</td>
        <td>{{ product.unit_gain}}</td>
      </tr>
      {% endfor %}
    </table>

  <a href="{{ url_for('user.dashboard') }}">Return to dashboard </a>

  </body>
</html>
