<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Dashboard</h1>
    {% if role in ["employee", "supervisor", "admin"] %}
    <table>
      <tr>
        <td>
          <a href="{{ url_for('user.show_profile') }}">Show profile</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ url_for('user.change_password', user_id=user_id) }}">Change password</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ url_for('product.search_products') }}">Show/Search product</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ url_for('product.view_product') }}">View product</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ url_for('product.sell_product') }}">Sell product</a>
        </td>
      </tr>
    {% endif %}

    {% if role in ["supervisor", "admin"] %}
    <tr>
      <td>
        <a href="{{ url_for('user.create_employee') }}">Create employee account</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ url_for('user.view_employees') }}">View employees</a>
      </td>
    </tr>
    {% endif %}

    {% if role in ["admin"] %}
    {% endif %}

    </table>
  </body>
</html>
