<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Login</h1>
    <form method="post" action="{{ url_for('auth.login') }}">
      <table>
        <tr>
          <td>Username:</td>
          <td>
            <input type="text" id="username-input" name="username" required>
          </td>
        </tr> 
        <tr>
          <td>Password:</td>
          <td>
            <input type="text" id="password-input" name="password" required>
          </td>
        </tr>
        <tr>
          <td>Unit id:</td>
          <td>
            <input type="text" id="unit-id-input" name="unit_id" required>
          </td>
        </tr>
      </table>
      <input type="submit" value="Login">
    </form>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
  </body>
</html>
