<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 2px solid;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>Profile</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Username</th>
          <th>Unit id</th>
          <th>Unit name</th>
        </tr>
        <tr>
          <td> {{ name }} </td>
          <td> {{ surname }} </td>
          <td> {{ username }} </td>
          <td> {{ unit_id }} </td>
          <td> {{ unit_name }} </td>
        </tr>
      </table>

      <a href="{{ url_for('user.dashboard') }}">Return to dashboard </a>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
  </body>
</html>
